<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StockProjetoDB"
			 connectionString="Data Source=127.0.0.1,1433;Network Library=DBMSSOCN;Initial Catalog=StockProjetoDB;User Id=StockProjetoNET;Password=2tgpsi19j;MultipleActiveResultSets=true;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>